<div class="container">
  <button mat-raised-button color="primary" (click)="warn()">Warn</button>
  <button mat-raised-button color="primary" (click)="confirm()">Confirm</button>
  <button mat-raised-button color="primary" (click)="yesNoCancel()">Yes No Cancel</button>
  <button mat-raised-button color="primary" (click)="enterNumber()">Enter Number</button>
  <button mat-raised-button color="primary" (click)="enterText()">Enter Text</button>
</div>
<div class="container">
  <p>{{message}}</p>
</div>